[submodule "dev-deployment"]
	path = dev-deployment
	url = https://github.com/carma-dev-deployments/generic-topicmap.git
	branch = gh-pages
[submodule "live-deployment"]
	path = live-deployment
	url = https://github.com/digital-twin-wuppertal-live/generic-topicmap.git
	branch = gh-pages
